body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d4e9f0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background: #f7faf8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(14, 68, 36, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #150d5c;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #150d5c;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color:#60599a;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}